body {
    margin: 0;
    padding: 0;
}

.signup-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #2a2a2a;
    padding: 30px;
    border-radius: 5px;
    color: #888;
}

.signup-container input {
    display: block;
    margin: 10px auto;
}

.signup-container button {
    margin-top: 10px;
}